# Enforce LF line endings for text files
* text=auto

# Unity YAML files
*.anim text eol=lf
*.asset text eol=lf
*.controller text eol=lf
*.mat text eol=lf
*.meta text eol=lf
*.prefab text eol=lf
*.unity text eol=lf
*.mask text eol=lf
*.spriteatlas text eol=lf
*.overrideController text eol=lf
*.renderTexture text eol=lf

# Other Unity-specific files
*.cginc text eol=lf
*.compute text eol=lf
*.shader text eol=lf
*.shadervariants text eol=lf
*.json text eol=lf
*.asmdef text eol=lf

# Prevent line-ending conversion for binary files
*.cubemap binary
*.dll binary
*.exe binary
*.png binary
*.jpg binary
*.psd binary
*.tga binary
*.wav binary
*.fbx binary
*.mp3 binary
*.mp4 binary
*.avi binary
*.zip binary
*.rar binary

*.obj text eol=lf